



.mdl-layout__drawer-button  {
    color: rgb(255, 0, 98);
}
.mdl-layout__header-row{
    background: rgb(255, 0, 98);
}
.mdl-navigation__link:hover {
    background: rgba(255, 159, 196, 0.5);
}
.nav-layout-transparent .mdl-layout__header,
.nav-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

.carousel-item img {
    margin-top: 7vh;
    width: 97%;
    height: 95vh;
}
.carousel-caption d-none d-md-block h5{
    font-size: 24px;
    font-weight: bold;
}

.safetyTips {
  font: 3vh solid rgb(255, 0, 98) sans-serif  ;
}
.accordion {
  width: 35vw;

}
.card-header h2 button {
  color: rgb(255, 0, 98);
}

@media only screen and (min-width: 1101px) {
    .nav-layout-transparent > .mdl-layout__drawer-button {
      display: none;
    }
    .newlogo {
      display: none;
    }
    .content-push {
      padding-top: 23%;
      position: relative;
      padding-bottom: 5%;
    }
  }
  @media only screen and (max-width:767px) {
    .content-push {
      padding-top: 45%;
      position: relative;
      padding-bottom: 5%;
    }
}
@media only screen and (max-width:560px) {
  .content-push {
    padding-top: 50%;
    position: relative;
    padding-bottom: 5%;
}
}
@media only screen and (max-width:430px) {
  .content-push {
    padding-top: 50%;
    position: relative;
    padding-bottom: 5%;
}
}