body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica;
    font-size: 14px;
    color: #000;
}

.content-fluid {
    width: 100%;
    height: 88.8vh;
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    padding-left: 2vh;
    /*background-image: url('../images/globe1.png');*/
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#list{
    margin-top: 7vh;
    margin-left: 5vh;
    margin-right: 5vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /*border: 2px solid rgb(24, 157, 246);
    padding: 1.5vh;
    box-shadow: 4px 4px  10px black;*/
    
}
#list h2 {
    color: /*rgb(0, 0, 0)*/rgb(255, 0, 98);
    font-style: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);

    
}

#list li {
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 1vw;
    font-style: sans-serif;
    font-size: 18px;
    border-bottom: 1px solid /*rgb(24, 157, 246)*/rgb(255, 0, 98);;
}
#list li:hover {
    box-shadow: 1px 1px 2px black;
    background-color: /*rgb(24, 157, 246, 0.2)*/rgba(255, 0, 98, 0.08);;
    text-shadow: 0.1px 0.1px 0.3px rgba(0, 0, 0, 0.678);
}
/*.mapHolder {
    width: 62vw;
    height: 83vh;
    background: /*rgb(24, 157, 246)rgb(255, 0, 98) ;
}*/
#iMap {
    background:  /*rgb(24, 157, 246)*/rgb(255, 0, 98);
    margin-top: 1.5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 1vh;
    align-self: center;
    position: relative;
    justify-content: center;
    width: 60vw;
    height: 80vh;
    box-shadow: 2px 2px 10px rgb(255, 0, 98);
    border: 4px solid rgb(255, 0, 98);
}
.mumbai {
    height: 35%;
    margin-top: 10vh;
    /* margin-left: 10vh;
    margin-right: 10vh; */
    /* box-shadow: 2px 2px 7px rgb(255, 0, 98); */
    display: flex;
    flex-direction: row;
}

.mapCaption {
    padding-left: 41vh;
    justify-content: center;
    width: 100%;
    padding-top: 0vh;
    padding-bottom: 2vh;
}
.mumMap {
    margin-top: 2vh;
    margin-left: 2vh;
    width: 60%;
    height: 30%;
    border: 4px solid rgb(255, 0, 98);
}
.mumbai_content h2 {
    margin-top: 10vh;
    margin-left: 5vh;
    color: rgb(255, 0, 98);
    font-weight: bold;
    font-style:  sans-serif;
}
.mumbai_content p {
    margin-left: 5vh;
    font-style:  sans-serif;
    font-size: 14px;
}